<template>
  <div class="container">
    <nuxt-link to="/">Home</nuxt-link> - <nuxt-link to="/about">About</nuxt-link>
    
    <h1 class="title">{{Content.elements.title.value}}</h1>
    <div class="subtitle" v-html="Content.elements.about_us.value"></div>
    <button @click="test">{{tested}}</button>
  </div>
</template>

<script>
export default {
  async fetch({ store, params }) {
    await store.dispatch("getAbout")
  },
  data() {
    return {
      tested: 'Click Me'
    }
  },
  methods: {
    test: function () {
      this.tested = "Clicked"
    }
  },
  computed: {
    Content: function() {
      return this.$store.state["about"]

    }
  },
};
</script>



<style>
.container {
  margin: 0 auto;
  max-width: 960px;
  min-height: 100vh;
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
  font-family: "Quicksand", "Source Sans Pro", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  display: block;
  font-weight: 300;
  font-size: 100px;
  color: #35495e;
  letter-spacing: 1px;
}

.subtitle {
  font-weight: 300;
  font-size: 18px;
  color: #526488;
  word-spacing: 5px;
  padding-bottom: 15px;
}

.links {
  padding-top: 15px;
}
</style>
